body{
    margin: 0%;
    padding: 0%;
    background-image: url(../Images/my\ saad\ project\ ground.png);
    background-repeat: no-repeat;
     background-size: 100%;
     overflow-x: hidden;
     

}
nav{
    background: rgba(255, 255, 255, 0.36);
   
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.42);
    height: 70px;
    padding-top: 30px ;
    display:flex;
    position: fixed;
    top:0%;
    width:100%;
    z-index: 2;
}

.navit{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: large;
}
#logo{
    margin-left: 0.8%;
     position: absolute;
     top: -10px;

}
ul{
    position: relative;
top: -11px;
margin-left: 8%;
    width: 70%;
    
}
li{
   margin-right:5%;
    display: inline;
    
    
}
#ankor{
    position: relative;
    top:-9px;
    text-decoration: none;
    font-weight: 500;
    
}

header{
    margin-top:82px ;
    display: flex;
}

#woman{
   margin-top: -11px;
height: 568px;
}

#paradiv{
    margin-right: 19.8%;
    margin-left: 9%;
    margin-top: 6%;
}

#womandiv{
    margin-top: 6.29%;
}

#part{
    color: #0F2F64;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;

    margin-left: 13%;
margin-top: 2.5%;
    display:inline block;
    width:10%
}

#parts{
    margin-top: 2%;
    position: absolute;
    left: 25%;
    bottom: -2%;
}
#ad{
    margin-bottom: 9%;
}

#bbt{
    margin-top: -17px;
    padding: 0.5%;
margin-bottom: 15px;
    width: 10%;
    margin-left: 2%;
}

#next{
    color: #1E5DBC;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
  
}
#of{
    color: #4EB2F9;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    
}
#our{
    color: #536288;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
section{
    margin-left: -2%;
}
#we{
    color: #0F2F64;
text-align: center;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px;
}
#clin{
    color: #536288;
text-align: center;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px;
}
#read{
    font-weight: 700;
    margin-top: 1%;
    padding: 16px 38.109px 17.594px 39px;
    margin-left: 46%;
}
#prov{
    color: #0F2F64;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
}
#bel{
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; 
}

.hs{
    margin-top: 18px;
    margin-left: 32px;
    color: #0F2F64;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px;
}
.ps{
    margin-left: 32px;
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */

}
.odd{
    background-color: rgba(245, 249, 254, 1);
width: 302px;
height: 283px;
}

.even{
    background-color: white;
}

.odd:hover , .even:hover{
    transform: scale(1.12); 
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
border-radius: 20px;}
main{
    
    margin-top: 7.4%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(4,302px);
    grid-template-rows: repeat(3,283px);
}

#pt{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#sr{
    grid-column-start: 2;
}

svg{
    margin-left: 32px;
    margin-top: 32px;
}
#how{
    color: #0F2F64;
text-align: center;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
margin-bottom: 44px;
}

aside{
    margin-top: 11.2%;
    margin-bottom: 11%;

}
#stepcon{
    display: flex;
    margin-left: 7.5%;

    
}
.sh{
    color: #0F2F64;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 120% */
margin-left: 48px;
margin-top: 16px;
margin-bottom: 0px;
}
.sp{
    
    margin-top: 13.8px;
    margin-left: 48px;
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}
.step{
    margin-left: 40px;
    width: 376px;
height: 300px;
padding-right: 1.5%;
}
.step:hover{
    transform: scale(1.12); 
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}
.ss{
    margin-bottom: 0px;
    margin-left: 48px;
    margin-top: 48px;
}

#begin{
    margin-top: 100px;
    margin-left: 150px;
    display: inline;
    color: #0F2F64;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}
#loc{
    display: inline;
    color: #1E5DBC;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}

h4{
  text-align: left;
    color: #0F2F64;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-left: 14px;

}
.disp{
    
    margin: 0px;
    margin-left: 7px;
    width: 160px;
    color: #536288;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
#clinics{
    z-index: 1;
}
.disc{
    padding-top: 10px;
    border-radius: 15px;
    position: absolute;
    top:64%  ;
    left: 11.2%;
    width: 289px;
    height: 140px;
    background-color: white;
}
.swiper-slide img{
    margin: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.453);
}


.swiper-slide{
    height: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper {
   
    margin-top: 3%;
    width: 90%;
    height: 100%;
}

#view{
   margin-left: 1161px;
    padding: 16px 28.563px 17.594px 28px;
    margin-bottom:-20px;
}

.php{
    margin-left: 7px;
    display: inline ;
    color: #0F2F64;
text-align: center;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 120% */
}

#container{
    margin-top: 100px;
    display: flex;
}
#left{
    margin-top:50px;
    margin-bottom: 27px;
    margin-left:160px ;
    width:41%;
    display: flex;
    flex-direction: column;
}

.psvg{

    
    margin-right: 24px;
    display: inline;
}

.pp{
    position: relative;
    bottom: 22px;
    left: 120px;
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px;
    width: 295px;
    height: 56px;
}
#right{
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 92px;
}
#numcont{
    display: flex;
}

#rhead{
    margin-bottom: 22px;
    width: 408.091px;
    color: #0F2F64;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}
#rp{
    margin-bottom: 64px;
    width: 463.294px;
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}

.num{
    color: #0F2F64;
font-family: Arial;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 67.2px; /* 120% */
}

.nump{
    margin-bottom: 77px;
    width: 122.403px;
    color: #536288;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
}

#rnum{
    margin-left: 138px;
}
#makeb{
   
    margin-left: 100px;
    padding: 16px 34.203px 17.594px 34px;
    text-align: center;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;

}
#final{
    margin-top: 9px;
    margin-left: -3px;
    display: flex;
}

#lf{
    display: flex;
    flex-direction: column;
}
#title{
    width: 326.888px;
    color: #0F2F64;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;
margin-bottom: 44px;
margin-left: 156.5px;
margin-top: 84px;
}

#speak{
    width: 557.169px;
    color: #FFF;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 38.4px; /* 160% */
}

#name{
    color: #FFF;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

#job{
    color: #E1E3E8;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
#qout{
    background: #4EB2F9;
    margin-left: 156.5px;
    width: 624px;
    padding: 32px;
    margin-bottom: 88px;
}

.rf{
margin-top: 1px;
}
#before{
margin-bottom: 40px;
    color: #FFF;
text-align: center;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

#beforef{
    padding-top: 70px;
width:1208px;
margin-left: 130px;
margin-bottom: 45px;
    background-image: url(../Images/before\ foot.png);
    background-size: cover;
}

#bb1{
    color: #1E5DBC;
    font-weight: 700;
    font-family: Arial;
font-size: 15px;
font-style: normal;
letter-spacing: 0.32px;
    margin-left: 450px;
    padding: 16px 26.203px 17.594px 26px;
    margin-bottom: 56px;
}

#bb2{
    letter-spacing: 0.32px;
    font-family: Arial;
font-size: 15px;
font-style: normal;
font-weight: 700;
    margin-bottom: 56px;
    margin-left: 16px;
padding: 16px 27.125px 17.594px 27px;
}
#fimg{
    width: 193px;
height:55px;
margin-left: 160px;

}

.fotc{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}
.end{
    text-align: center;
    padding-bottom: 1.5%;
    margin-bottom: 0px;

}

.fh{
    color: #0F2F64;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 25.6px; /* 160% */
}

.fs{
    margin-top: -40px;
    width: 121.094px;
    color: #536288;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:20px; /* 160% */
}

footer{
    background-color: rgba(245, 249, 254, 1);
}
